@import "./../../App";

.p {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.f {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  button {
    margin-left: 0;
    margin-right: 0;
    @include phones {
      margin-top: 20px;
    }
  }

}
